#login-page {
    background: url("https://cdn-images-1.medium.com/max/2000/1*YyeGUTmbOhoIGgU0LuwDuw.jpeg") no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    height: 100vh;
    -webkit-clip-path: polygon(50% 0%, 100% 0, 100% 88%, 50% 100%, 0 87%, 0 0);
    clip-path: polygon(50% 0%, 100% 0, 100% 88%, 50% 100%, 0 87%, 0 0);
    overflow: auto;
}

.website-title {
    font-size: 10rem;
    /* font-family: 'Permanent Marker', cursive; */
    /* font-family: 'Audiowide', cursive; */
    /* font-family: 'Yellowtail', cursive; */
    /* font-family: 'Black Ops One', cursive; */
    /* font-family: 'Quattrocento Sans', sans-serif; */
    font-family: 'Bungee', cursive;
    font-size: 3.5rem;
    line-height: .9em;
    max-width: 6em;
    margin-left: 26%;
    margin-top: 25%;
    margin-bottom: 12%;
}

.Header-title {
    text-shadow: -0.08em 0 0.2em rgba(34, 51, 68, .4);
}

.website-title-subtext {
    color: white;
    /* font-family: 'Yellowtail', cursive; */
    font-family: 'Bungee', cursive;
    font-size: 2rem;
}

#secondary-background {
    background-color: #CE5848;
    -webkit-clip-path: polygon(0 0, 100% 17%, 100% 100%, 0% 100%);
    clip-path: polygon(0 0, 100% 17%, 100% 100%, 0% 100%);
    position: relative;
    z-index: 1
}

#login {
    margin-top: 3%;
    margin-left: 3%;
}

#logout {
    margin-top: 3%;
    margin-left: 3%;
}

.family-image-home {
    border-radius: 999px;
    border: 3px solid #C6C6C6;
    height: 14rem;
    width: 14rem;
    z-index: 999!important;
}

.text-names {
    color: #DD4F40;
    z-index: 999;
}

.chore-quote {
    color: #C6C6C6;
    font-weight: bold;
    font-size: 1.5rem;
    z-index: 999;
}

#about-section {
    position: relative;
    z-index: 999
}

.first-image,
.second-image,
.third-image,
.fourth-image {
    opacity: 0;
}

.btn-secondary {
    font-size: 1.4rem;
}

.loadingImage {
    height: 80px;
    width: 80px;
    margin-top: -5px;
}

#background3 {}

.points {}

.button {
    position: relative;
    height: 60px;
    width: 200px;
    background: #CE5848;
    border-radius: 8px;
    text-align: center;
    cursor: pointer;
    overflow: hidden;
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    transition: all 0.3s ease;
    color: white;
    margin-left: auto;
    margin-right: auto;
    line-height: 4rem;
}

.submit,
.arrow {
    display: inline-block;
    -webkit-transition: all 0.2s ease;
    -moz-transition: all 0.2s ease;
    transition: all 0.2s ease;
}

.submit {
    text-transform: uppercase;
    margin: 14px 0 0 26px;
}

.arrow {
    position: relative;
    top: -3px;
    opacity: 0;
}

.line {
    height: 3px;
    width: 20px;
    border-radius: 6px;
    background: #fff;
}

.top {
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    transform: rotate(45deg);
}

.bottom {
    -webkit-transform: rotate(-45deg);
    -moz-transform: rotate(-45deg);
    transform: rotate(-45deg);
    margin-top: 10px;
}

.button:active {
    -webkit-transform: scale(1.3);
    -moz-transform: scale(1.3);
    transform: scale(1.3);
}

.button.hover .submit {
    -webkit-transform: translateX(-90px);
    -moz-transform: translateX(-90px);
    transform: translateX(-90px);
    opacity: 0;
}

.button.hover .arrow {
    -webkit-transform: translateX(-70px);
    -moz-transform: translateX(-70px);
    transform: translateX(-70px);
    opacity: 1;
}

.button.active .arrow {
    opacity: 1;
    -webkit-transform: rotate(90deg) translateY(70px);
    -moz-transform: rotate(90deg) translateY(70px);
    transform: rotate(90deg) translateY(70px);
}

.button.active {
    background: #4CAF50;
}

.button.active .submit {
    opacity: 0;
}

.button.active .top {
    width: 34px;
}

.button.active .bottom {
    margin: 14px 0 0 12px;
}

.fourth-background {
    background: url("https://www.toptal.com/designers/subtlepatterns/patterns/bgnoise_lg.png")
}

.chore-quote-1,
.chore-quote-2,
.chore-quote-3,
.chore-quote-4 {
    opacity: 0;
}

.points-text {
    opacity: 0;
}

.blur1 {
    -webkit-filter: blur(1.5px);
    -moz-filter: blur(1.5px);
    -o-filter: blur(1.5px);
    -ms-filter: blur(1.5px);
    filter: blur(1.5px);
}

.blur2 {
    -webkit-filter: blur(2px);
    -moz-filter: blur(2px);
    -o-filter: blur(2px);
    -ms-filter: blur(2px);
    filter: blur(2px);
}

.blur3 {
    -webkit-filter: blur(3px);
    -moz-filter: blur(3px);
    -o-filter: blur(3px);
    -ms-filter: blur(3px);
    filter: blur(3px);
}

.blur4 {
    -webkit-filter: blur(4px);
    -moz-filter: blur(4px);
    -o-filter: blur(4px);
    -ms-filter: blur(4px);
    filter: blur(4px);
}

.blur5 {
    -webkit-filter: blur(5px);
    -moz-filter: blur(5px);
    -o-filter: blur(5px);
    -ms-filter: blur(5px);
    filter: blur(5px);
}