  body {
      font-family: "Montserrat", "Helvetica Neue", Helvetica, Arial, sans-serif;
  }

  #header {
      min-height: 205px;
      font-family: "Montserrat", "Helvetica Neue", Helvetica, Arial, sans-serif;
      background: url("https://image.freepik.com/foto-gratis/habitacion-borrosa-con-suelo-de-madera_1203-593.jpg");
      /* fallback for old browsers */
      background-size: 100%;
      -webkit-clip-path: polygon(50% 0%, 100% 0, 100% 75%, 50% 100%, 0% 75%, 0 0);
      clip-path: polygon(50% 0%, 100% 0, 100% 75%, 50% 100%, 0% 75%, 0 0);
      margin-bottom: 100px;
  }

  #guidNumber {
      color: #28BFB7;
  }

  .button {
      position: relative;
      height: 60px;
      width: 200px;
      background: #28BFB7;
      border-radius: 8px;
      text-align: center;
      cursor: pointer;
      overflow: hidden;
      -webkit-transition: all 0.3s ease;
      -moz-transition: all 0.3s ease;
      transition: all 0.3s ease;
      color: white;
  }

  .submit,
  .arrow {
      display: inline-block;
      -webkit-transition: all 0.2s ease;
      -moz-transition: all 0.2s ease;
      transition: all 0.2s ease;
  }

  .submit {
      text-transform: uppercase;
      margin: 14px 0 0 26px;
  }

  .arrow {
      position: relative;
      top: -3px;
      opacity: 0;
  }

  .line {
      height: 3px;
      width: 20px;
      border-radius: 6px;
      background: #fff;
  }

  .top {
      -webkit-transform: rotate(45deg);
      -moz-transform: rotate(45deg);
      transform: rotate(45deg);
  }

  .bottom {
      -webkit-transform: rotate(-45deg);
      -moz-transform: rotate(-45deg);
      transform: rotate(-45deg);
      margin-top: 10px;
  }

  .button:active {
      -webkit-transform: scale(1.3);
      -moz-transform: scale(1.3);
      transform: scale(1.3);
  }

  .button.hover .submit {
      -webkit-transform: translateX(-90px);
      -moz-transform: translateX(-90px);
      transform: translateX(-90px);
      opacity: 0;
  }

  .button.hover .arrow {
      -webkit-transform: translateX(-70px);
      -moz-transform: translateX(-70px);
      transform: translateX(-70px);
      opacity: 1;
  }

  .button.active .arrow {
      opacity: 1;
      -webkit-transform: rotate(90deg) translateY(70px);
      -moz-transform: rotate(90deg) translateY(70px);
      transform: rotate(90deg) translateY(70px);
  }

  .button.active {
      background: #28BFB7;
  }

  .button.active .submit {
      opacity: 0;
  }

  .button.active .top {
      width: 34px;
  }

  .button.active .bottom {
      margin: 14px 0 0 12px;
  }

  .error {
      border: 3px solid red;
      color: red;
  }

  #backToHome {
      opacity: 0;
      margin-left: 3%;
      margin-top: 3%;
      color: inherit;
      color: white!important;
      text-decoration: none;
      position: relative;
      z-index: 999;
      font-size: 1.5rem;
      font-weight: bold;
      font-family: "Montserrat", "Helvetica Neue", Helvetica, Arial, sans-serif;
  }

  #backToHome a {
      color: inherit;
      color: #CE5848!important;
      text-decoration: none;
  }

  .title {
      margin-top: 5px;
      color: #28BFB7;
      font-family: 'Sedgwick Ave', cursive;
      font-size: 2.5rem;
      /* text-shadow: -1px -1px 0 #F0F0F0, 1px -1px 0 #F0F0F0, -1px 1px 0 #F0F0F0, 1px 1px 0 #F0F0F0; */
  }

  #next-steps {
      background-color: #F0F0F0;
      -webkit-clip-path: polygon(48% 7%, 100% 0, 100% 100%, 50% 100%, 0 100%, 0 15%);
      clip-path: polygon(48% 7%, 100% 0, 100% 100%, 50% 100%, 0 100%, 0 15%);
      height: 20rem;
  }

  #next-steps h1 {
      font-weight: bold;
  }

  #home-button {
      font-size: 2.5rem;
      color: #28BFB7;
      margin-left: 3%;
      margin-top: 3%;
      z-index: 999;
      position: relative;
      text-shadow: -.8px -.8px 0 #F0F0F0, .8px -.8px 0 #F0F0F0, -.8px .8px 0 #F0F0F0, .8px .8px 0 #F0F0F0;
  }